<section class="container mt-2">
  <article class="text-center">
    <h2>Compra</h2>
    
    {{#if ticket_error}}
      <div>
        <h4>La Compra no Existe.</h4>
      </div>
    {{else}}
      <div>
        <h4>Se ha realizado la compra de forma correcta.</h4>
        <div class="border rounded">
            <p>Ticket: {{ticket.code}}</p>
            <p>total: ${{ticket.amount}}</p>
            <p>fecha: {{ticket.purchase_datetime}}</p>
        </div>
      </div>
    {{/if}}
  </article>
</section>