/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Fondo de página de inicio */
.background {
    background-image: url(/public/media/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor de formulario */
.formContainer {
    background-color: white;
    padding: 1rem;
    min-height: 50vh;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Texto genérico */
.text {
    color: #333;
    text-align: center;
}

/* Formulario */
.form {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Entrada de texto */
.input {
    background-color: #f9f9f9;
    width: 60%;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid #555;
    margin: 1rem auto;
    font-size: 1rem;
}

/* Botón genérico */
.btn {
    margin: 1rem auto;
    background: #007bff;
    color: #fff;
    width: 60%;
    padding: 0.75rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Efecto de botón al pasar el mouse */
.btn:hover {
    background: #0056b3;
}

/* Encabezado general */
.header {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
}

/* Botón invertido */
.btnInverted {
    width: 100px;
    color: #fff;
    margin: 1rem auto;
    background: none;
    padding: 0.5rem 1rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Efecto de botón invertido al pasar el mouse */
.btnInverted:hover {
    background: #fff;
    color: #333;
}


/* Contenedor de productos */
.productsContainer {
    display: flex;
    flex-wrap: wrap; /* Para que los productos se envuelvan automáticamente en filas */
    justify-content: space-between; /* Distribución uniforme de productos */
    gap: 20px; /* Espaciado entre productos */
}

/* Tarjeta de producto */
.card {
    width: calc(33.33% - 20px); /* Para que haya tres tarjetas por fila (ajusta según tus necesidades) */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Imagen del producto */
.card img {
    max-width: 100%;
    height: auto;
}

/* Título del producto */
.card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Descripción del producto */
.card p {
    font-size: 1rem;
    color: #555;
}

/* Precio del producto */
.card .price {
    font-weight: bold;
    color: #333;
}

/* Botón de eliminar */
.card button {
    margin-top: 10px;
    background-color: #ff5858;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilo al pasar el mouse sobre el botón de eliminar */
.card button:hover {
    background-color: #ff3333;
}


