<section class="form-container">
  <article>
    <h2>Reset Password</h2>
    <form method="POST" class="shadow-lg p-3 my-3 border rounded user_form" style="min-width: 500px;" action="" id="resetpassword" data-idurl="{{idurl}}">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" autocomplete="off" value="{{email}}" class="form-control" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="newpassword" id="newpassword" autocomplete="new-password" class="form-control">
      </div>
      <button class="btn btn-primary">Reset Password</button>
      <div class="my-3">
        <p class="m-0 fs-6 fst-italic">Remember your password? <a href="/login">Sign in</a></p>
      </div>
    </form>
  </article>
</section>

<script src="/js/resetPassword.js"></script>